.jauge {
    width: 100px;
    height: 200px;
    display: block;
    background-color: #303030;
    position: relative;
}

.jauge-remplissage {
  transition: all 0.3s linear 0s;
  background-color: #33BEE5;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.jauge-remplissage {
  height: 0%;
}