@import url('https://fonts.googleapis.com/css?family=Koulen');
@import url('https://fonts.googleapis.com/css?family=roboto');

body{
  font-family: 'Koulen', sans-serif;
  background-color:green;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: "main" "footer";
  grid-template-rows: 1fr 80px;
  height: 100%;
  margin: 0;
}

#root {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

#title {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
}

#title h1{
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin:0%;
  padding: 0%;
}

#title p{
  font-size: 80px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin:0;
  padding: 0%;
}

.anagram {
  font-weight: 600;
  text-align: center;
  font-size: 200px;
  font-style: normal;
  line-height: normal;

  background-color: #003865;
  background: linear-gradient(180deg, #0084D4 0%, #003865 82.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin-bottom: 0%;
}

.defintion{
  color: #FFF;
  text-align: center;
  font-family: Roboto;
}

.timer{
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

#timer-text{
  font-family: 'Koulen', sans-serif;
  font-size: x-large;
  text-align:center;
}

footer {
  grid-area: footer;
  margin-top: auto;
  height: 50px;
}